# Archivos del sistema
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Archivos de base de datos
db.sqlite3

# Entornos virtuales
env/
venv/
ENV/
.Venv/
.venv/
env.bak/

# Configuración de VS Code y otros editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak
*.swp
*.swo


# Archivos de compilación o estáticos generados
staticfiles/
media/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo

# Base de datos local
db.sqlite3

# Archivos temporales
*.log
*.pot
*.pyproj
*.sublime-project
*.sublime-workspace

# Archivos de entorno virtual
venv/
env/
.env/