{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard - Fit Evolution</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/logopng.png' %}">
</head>
<body>
  <form method="post" action="{% url 'logout' %}" class="logout-link" style="position:fixed; top:10px; left:16px; z-index:10001;">
    {% csrf_token %}
    <button type="submit" class="logout-link__btn" style="background:transparent; border:none; padding:0.2rem 0.45rem; color:#ffffff; font-size:0.5rem; font-weight:200; cursor:pointer; text-decoration:none; font-family: 'DashboardCustom', 'Manrope', system-ui, sans-serif;">Salir</button>
  </form>

  <header class="site-header">
    <img src="{% static 'images/Letras_FitEvolution.png' %}" alt="Fit Evolution" class="site-logo">
    <div class="user-greeting">
      Hola, {{ user.first_name }} {{ user.last_name }}
      {% if user.is_staff %}
      <div class="admin-link"><a href="{% url 'admin:index' %}">Panel Administrador</a></div>
      {% endif %}
    </div>
  </header>
  
  <div id="intro" class="intro">
    <img src="{% static 'images/Letras_FitEvolution.png' %}" alt="Fit Evolution" class="intro-logo">
  </div>

  <nav style="--max-p: 6; --max-z: 6;">
    <a href="{% url 'fit-evolution' %}" style="--i:0; --img:url({% static 'images/Login_Background2.png' %});" data-title="Fit-Evolution">
      <div class="img"></div>
      <h3 class="item-title">Fit-Evolution</h3>
      <aside class="hover-zone">{% for i in "123456789" %}<i></i>{% endfor %}</aside>
    </a>
    <a href="{% url 'ver_perfil' %}" style="--i:1; --img:url({% static 'images/Menu_OP2.png' %});" data-title="Perfil">
      <div class="img"></div>
      <h3 class="item-title">Perfil</h3>
      <aside class="hover-zone">{% for i in "123456789" %}<i></i>{% endfor %}</aside>
    </a>
    <a href="{% url 'dashboard_entrenamiento' %}" style="--i:2; --img:url({% static 'images/Menu_OP3.png' %});" data-title="Entrenamiento">
      <div class="img"></div>
      <h3 class="item-title">Entrenamiento</h3>
      <aside class="hover-zone">{% for i in "123456789" %}<i></i>{% endfor %}</aside>
    </a>
    <a href="{% url 'MenuNutricion' %}" style="--i:3; --img:url({% static 'images/Menu_OP4.png' %});" data-title="Nutricion">
      <div class="img"></div>
      <h3 class="item-title">Nutricion</h3>
      <aside class="hover-zone">{% for i in "123456789" %}<i></i>{% endfor %}</aside>
    </a>
    <a href="#" style="--i:4; --img:url({% static 'images/Menu_OP5.png' %});" data-title="Cardiovasucular">
      <div class="img"></div>
      <h6 class="item-title">Cardiovasucular</h6>
      <aside class="hover-zone">{% for i in "123456789" %}<i></i>{% endfor %}</aside>
    </a>
    <a href="#" style="--i:5; --img:url({% static 'images/Menu_OP6.png' %});" data-title="Merch">
      <div class="img"></div>
      <h3 class="item-title">Merch</h3>
      <aside class="hover-zone">{% for i in "123456789" %}<i></i>{% endfor %}</aside>
    </a>
  </nav>



  <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
