{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Quienes_somos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/MenuQSomos.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
		<noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}"/></noscript>
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="{% url 'dashboard' %}" class="logo"><strong>FIT</strong> <span>EVOLUTION</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'fit-evolution' %}">Home</a></li>
							<li><a href="{% url 'QSgymsisuno' %}">Quienes Somos</a></li>
							<li><a href="{% url 'MenuNutricion' %}">Nutricion</a></li>
							<li><a href="{% url 'ver_perfil' %}">Entrenamiento</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{% static 'images/backgymsis11.jpg' %}" alt="" />
							</span>
							<header class="major">
								<h1>HOLA!! nos presentamos, somos Fit-Evolution </h1>
							</header>
							<div class="content">
								<p>Somos un equipo de estudiantes apasionados a la programacion que se dedican a brindar servicios de fitness y nutrición <br />
								 para ayudarte a alcanzar tus metas de salud y bienestar.</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Quienes lo hacen posible?</h2>
									</header>
									<p>Este equipo consta de un gran duo, dos amigos, Juan Pablo Lugo y Santiago Martinez, quienes se apasionaron tanto por la 
                                        programacion como por el fitness, por eso decidimos crear Fit-Evolution
                                        para ayudarte a alcanzar tus metas de salud y bienestar y MUTAR  todos juntos .</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<a href="generic.html" class="image">
										<img src="{% static 'images/gymsis14.png' %}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Nuestra VISIÓN</h3>
											</header>
											<p>Queremos revolucionar la manera en que las personas entrenan y se alimentan, 
                                                creando un entrenador personal, virtual e inteligente que se adapte al cuerpo, progreso
                                                 y bienestar de cada usuario. Fit-Evolution combina ciencia, datos, pasión y 
                                                 tecnología para impulsar una evolución física segura y sostenible.</p>
										</div>
									</div>
								</section>
								<section>
									<a href="generic.html" class="image">
										<img src="{% static 'images/gymsis12.png' %}" alt="" data-position="top center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>¿Que hacemos?</h3>
											</header>
											<p>Desarrollamos un sistema de entrenamiento personal asistido
                                                por Machine Learning que guíe a los usuarios en la
                                                sobrecarga segura y progresiva del peso (sobre carga
                                                progresiva) y entregue asesoría nutricional personalizada
                                                (macronutrientes y calorías) para objetivos de
                                                recomposición corporal, hipertrofia o pérdida de peso.
                                                El sistema también recomienda actividad cardiovascular
                                                (pasos, duración de caminata, cardio intense, etc.…)
                                                y detecta condiciones que requieren ajuste de carga
                                                para prevenir lesiones.</p>
                                            <header class="major">
												<h3>Nuestros objetivos</h3>
											</header>
                                            <p>GENERAL: <br>
                                               Crear un entrenador virtual que optimice la progresión de cargas
                                                y la nutrición del usuario, incrementando la adherencia y reduciendo
                                                el riesgo de lesión, mediante modelos ML que aprendan del
                                                comportamiento y resultados reales de los usuarios.<br>
                                                ESPECIFICOS: <br>
                                                Predecir la progresión adecuada de peso/series/repeticiones sesión a sesión. <br>
                                                Recomendar ajustes (subir, mantener, bajar carga) para minimizar lesiones o estancamiento <br>
                                                Generar planes nutricionales personalizados y adaptar macros según progreso y objetivos del usuario. <br>
                                                Integrar datos de wearables y del propio usuario para mejorar la precisión. <br>
                                                Diseñar una guía que no solo de órdenes, sino que también explique y eduque sobre los porque de las sugerencias <br>

                                            </p>
										</div>
									</div>
								</section>
								<section>
									<a href="generic.html" class="image">
										<img src="{% static 'images/gymsis13.png' %}" alt="" data-position="25% 25%" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Nuestra MISIÓN</h3>
											</header>
											<p>
                                                Optimizar la progresión de cargas y la nutrición del usuario mediante
                                                modelos predictivos que aprendan de su comportamiento, reduciendo el
                                                riesgo de lesiones y aumentando la adherencia al entrenamiento.
										</div>
									</div>
								</section>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<header class="major">
										<h2>Nuestra ideologia</h2>
									</header>
									<p>
                                    Fit-Evolution no da órdenes, enseña. Cada recomendación viene acompañada
                                    de una explicación que ayuda al usuario a comprender el porqué de cada
                                    ajuste, fomentando el aprendizaje y la autonomía en su proceso de
                                    entrenamiento.
                                    </p>
									<ul class="actions">
										<li><a href="#banner" class="button next">Volver al banner</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">juanmet1234@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>3195422552</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>1234 Somewhere Road #5432<br />
										Nashville, TN 00000<br />
										United States of America</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>  
		<!-- Scripts -->
			<script src="{% static 'js/jqueryqs.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/browserqs.min.js' %}"></script>
			<script src="{% static 'js/breakpointsqs.min.js' %}"></script>
			<script src="{% static 'js/utilqs.js' %}"></script>
			<script src="{% static 'js/mainqs.js' %}"></script>

	</body>
</html>